{
  "version": 6,
  "configurePresets": [
    {
      "name": "windows-debug-gcc",
      "displayName": "Windows Debug (GCC)",
      "inherits": "windows-debug",
      "cacheVariables": {
        "CMAKE_C_COMPILER": "C:/msys64/ucrt64/bin/gcc.exe",
        "CMAKE_CXX_COMPILER": "C:/msys64/ucrt64/bin/g++.exe"
      }
    },
    {
      "name": "windows-release-gcc",
      "displayName": "Windows Release (GCC)",
      "inherits": "windows-release",
      "cacheVariables": {
        "CMAKE_C_COMPILER": "C:/msys64/ucrt64/bin/gcc.exe",
        "CMAKE_CXX_COMPILER": "C:/msys64/ucrt64/bin/g++.exe"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "windows-debug-gcc",
      "configurePreset": "windows-debug-gcc",
      "jobs": 8
    },
    {
      "name": "windows-release-gcc",
      "configurePreset": "windows-release-gcc",
      "jobs": 8
    }
  ]
}
